/* html {
    height: 100%;
    width: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
  background-color: #0a2239;
  font-family: Arial;
  font-size: 20px;
  color: white;
}
*/

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #0a2239;
  background-size: 16px 16px;
  font-family: "Euclid Circular A", "Poppins";
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.view-container {
  max-width: 800px; /* Set a maximum width for the container */
  width: 90%; /* Use a percentage for responsiveness */
  margin: 0 auto; /* Center the container horizontally */
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-view {
  width: 100vw;
  max-height: 60vh;
  height: auto;
  object-fit: cover;
  filter: brightness(40%);
} 

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
  min-height: 40vh;
  margin-top: 20px;
}

.card img {
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card h2 {
  font-size: 22px;
  margin-right: 30px;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.card p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

@media (width <= 740px) {
  section {
    margin-top: 1500px;
    margin-bottom: 1500px;
  }
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}




